.alert{
	color: black;
	font-family: 'Open Sans', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}
.conteiner{
	/*background: red;*/
	background-image: url(../img/320.jpg); 
	display: grid;
	height: 100vh;
	grid-template-columns: 3fr 2fr 3fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	 /*background: linear-gradient(to right, #000046, #1cb5e0);*/
   background-size:cover; 
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;

}

.cont-login{
	
	
	grid-column-start: 2 ;
	grid-column-end: 3;

	grid-row-start: 2;
	grid-row-end: 5;

	/*background-image: url(../img/section_1.png); */

	/*grid-column: col3/col5;
	grid-row: fil2/fil6;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;		
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 2.5px 6px rgba(45, 45,45,0.2);

	background: #fff;
	/*background-image: url(../img/fondo_celular.jpg);*/ 

	background-size:cover; 
    background-position: center50%;
    background-attachment: fixed;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;

}

.div-logo{
	/*background: red;*/
	/*height: 200px;
	width: 100px;*/
}
.form{
	/*background: #fff;*/
	
	height: 60%;
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;	

}

.div-input{
	width: 75%;
	height: 20%;

	/*background: blue;*/
	
}

.input{
	
	 border: 2px solid #c9cbff;

}

.btn{

	background-color: #394989;
  	color: white;
  	padding: 5px 10px ;
  	font-size: 18px;
  	border: none;
  	cursor: pointer;
  	width: 50%;
 	border-radius: 7px;
}

input[type="submit"]:hover{
	background: #0a043c;
	border:  0px;
	border-radius: 7px;
	color: white;
	
	transition:background .5s, color .5s;
}

/*  enlace   */

.link-text a{
	/*text-decoration: none;*/
	color: #0a043c;

}
h3{
	font-size: 15px;
}
input[type="text"] ,input[type="password"]{
/*height: 100%;*/
	width: 100%;
	height: 60%;
	padding: 2px 10px;
	border-radius: 3px;
	margin-top: 5px;


}
