*{
    padding: 0px;
    margin: 0px;
}

/* AQUI EMPIEZA ESTILOS A MENU */
.contenedor-header{
    /* margin: 0px auto; */
    /* padding: 10px; */
    width: 100%px;
    height: 20%;
    display: flex;
    /* width: 1200px; */
    
    font-family: Arial, Helvetica, sans-serif;
/* padding: 10px 80px ; */
    padding: 20px;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;

    background: #035aa6;
}
.icono_principal img{
    margin-left: 50px;
    width: 200px;
    height: 70px;
}
ul, ol{
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu .nav li a{

    background-color:#035aa6;
    border-bottom:3px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    width: 150px;
    margin-left: 15px;
    font-weight: bold;
}
.nav > li{
    float: left;
}
.nav li a:hover{
    
    background-color: #fff;
    color: #4d80e4;
    border-bottom: 3px solid  #4d80e4;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}




/*AQUI TERMINA ESTILOS PARA EL MENU  */

/* AQUI EMPIEZA ESTILOS PARA EL CUERPO */
.principal{
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #6ab6f7;
    width: 1200px;
}
.principal .contenido{
    align-items: center;
}
.principal .welcome{
    font-size: 80px;
    margin: 20px;
    padding: 20px;
}
.principal .where{
    font-size: 60px;
    margin: 20px;
    padding: 15px;
}
.principal .description{
    font-size: 40px;
    margin: 20px;
    padding: 15px;
}
.contenido img{
    width: 300px;
    margin: 20px;
    padding: 20px;
}
/* AQUI TERMINA ESTILOS PARA EL CUERPO */
.footer{
    display: flex;
    width: 100%;
    margin: 0px auto;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: #035aa6;
    font-size: 20px;
    font-weight: 800;
    color: #fff;

}
.redes a img{
    margin: 10px;
    padding: 10px;
    width: 40px;
}